Регистрация успешно пройдена. <br>
На Ваш E-mail адрес выслано письмо.<br>
<a href="{{ path('mainpage') }}"><input type="button" value="Главная"></a>
<a href="{{ path('registration') }}"><input type="button" value="Зарегистрироваться повторно"></a>