{% for info_array in final_array %}
    {% for info in info_array %}
        {{ info }}
    {% endfor %}
    <br>
{% endfor %}
<a href="{{ path('mainpage') }}"><input type="button" value="На главную"></a>