Любой контент.

<a href="{{ path('registration') }}"><input type="button" value="Регистрация"></a>
<a href="{{ path('array') }}"><input type="button" value="Задача с массивом"></a>
<a href="{{ path('xml') }}"><input type="button" value="Задача с xml"></a>